#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.star-icon {
  --icon-size: 32px;
  height: var(--icon-size);
  width: var(--icon-size);
}

.star-icon-filled {
  fill: #ff0
}